body,h1,h2,h3,h4,h5,h6 {
    font-family: Righteous, sans-serif;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

/* all images at 100% width */
img {
    width: 100%;
    aspect-ratio: 1.6 / 1; 
    object-fit: cover; 
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}