{% extends "layout.html" %}
{% block body %}
<!-- home page goes here -->
<h2>Car Makers</h2>
<p>Select one car maker to view their cars.</p>
 <!-- a 3 column grid -->
  <div class="three-column">
    {% for maker in results %}
    <a href="{{ url_for('Maker', id=maker[0]) }}">
        <div class="w3-card-4">
            <!-- the name then the image -->
            <h1>{{ maker[1] }}</h1>
            <img src="{{ maker[2] }}" alt="{{ maker[1] }}">
        </div>
    </a>
    {% endfor %}
  </div>
{% endblock %}